@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.overlay:hover {
  width: 100%;
  left: 0;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondary-title {
  @apply text-3xl font-bold;
}

.section-paragraph {
  @apply text-secondary my-6 max-w-3xl;
}

button {
  @apply transition duration-300 ease-in hover:bg-secondary hover:text-white;
}
